/* GLOBAL */

body {
    background-color: #180F15;
    background-image: linear-gradient(to bottom right, #0b060a, #272662);
}

* {
    color: white;
}

.btn {
    background-color: #242C76;
    color: white;
}

.btn:hover {
    background-color: #3A42C5;
}

.btn.active {
    background-color: #54A9fB;
}

.container-sidebar-right > * {
    border-radius: 20px;
    border: none;
}

.container-sidebar-right a {
    color: #DDDDDD;
}

.container-sidebar-right a:hover {
    color: #FFFFFF;
}

.control-group {
    margin: 0px;
}

div.alert-wrapper {
    background-color: #180F15;
}

#system-message-container {
    margin-top: 0px;
}

#system-message-container>* {
    margin-top: 16px;
}

.card {
    background-color: #4639af;
    border-radius: 20px;
    border: none;
}