body {
    background-color: #180F15;
    background-image: linear-gradient(to bottom right, #0b060a, #272662);
}


.btn {
    background-color: #242C76;
    color: white;
}


.btn:hover {
    background-color: #3A42C5;
}

.btn.active {
    background-color: #54A9fB;
}


.control-group {
    margin: 0px;
}

div.alert-wrapper {
    background-color: #180F15;
}

#delete-button {
	background-color: red;
}


#categoryParent {
	height: 35%;
}


#categoryScroll {
	height: 100%;
	overflow-y: scroll;
}




table#categories > thead, table#images>thead {
    height: 50px;
}

#categories a {
    border-radius: 999px;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 42069;
    background-color: rgba(0, 0, 0, 0.95);
}




